#heroImg {
    position: relative;
    margin: auto;
    z-index: -1;
    background-color: aqua;
    margin-top: 20px;
    height: 400px;
  }
  #bitcoin{
    color: rgba(255, 179, 0, 0.721);
  }
  #container  {
   
   margin: auto;
   margin-top: -400px;
    line-height: 130px;
    text-align: center;
    font-size: 50px;
    stroke: 10px;
   color: white;
   z-index: 4;
  }

  #getBtn{
    border-radius: 50px;
    background-color:rgba(255, 179, 0, 0.721) ;
    padding: 10px;
    margin: 5px;
   
  }
 

  #socialEnd{
    margin-top: 40px;
  }